body {
  background-color: #1e1e1e;
}
h1 {
  color: white;
}
p {
  color: white;
}
h3 {
  color: white;
}
li {
  color: white;
}
.botoes {
  color: black;
}
.btnstart {
  background-color: green;
}
.btnstop {
  background-color: red;
}
