body {
  background-color: #1e1e1e;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}

h3 {
  color: white;
}
li {
  color: white;
}
.botoes {
  color: black;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.btnstart {
  background-color: green;
  border-color: darkgreen;
  border-style: inset;
}
.btnstop {
  background-color: red;
  border-color: darkred;
  border-style: outside;
}
.timer {
  flex-direction: column;
  align-items: center;
  display: flex;
}
